.layoutContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layoutContent {
  flex-grow: 1;
  padding: 0;
}

.layoutContentFlex {
  display: flex;
  flex-grow: 1;
  padding: 0;
}

.flexColumn {
  flex-direction: column;
}
